<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.admin.Demo">

    <uses-permission android:name="android.permission.INTERNET"/> /**连接网络**/

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="智能家居Demo"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.example.admin.Demo.MainActivity"
                  android:screenOrientation="landscape"> </activity>

        <activity android:name="com.example.admin.Demo.LoginActivity"
                  android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name="com.example.admin.Demo.RegisterActivity"  android:screenOrientation="landscape" />
        <activity android:name="com.example.admin.Demo.HallActivity"   android:screenOrientation="landscape"/>
        <activity android:name="com.example.admin.Demo.BedroomActivity"  android:screenOrientation="landscape" />
        <activity android:name="com.example.admin.Demo.KitchenActivity"  android:screenOrientation="landscape"> </activity>
    </application>

</manifest>